/* Tailwind CSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sohne";
  src: url("./assets/fonts/Sohne-Dreiviertelfett.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Sohne";
  src: url("./assets/fonts/Sohne-Fett.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SohneBreit";
  src: url("./assets/fonts/SohneBreit-Leicht.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "SohneBreit";
  src: url("./assets/fonts/SohneBreit-Halbfett.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SohneBreit";
  src: url("./assets/fonts/SohneBreit-Dreiviertelfett.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SohneBreit";
  src: url("./assets/fonts/SohneBreit-Fett.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* Custom Reset */
#root {
  all: unset;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
}

html {
  font-size: 100%;
  background-color: #ffffff;
}

body {
  background-color: #fefefc;
  color: black;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
